# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js build output
.next/
out/
.vercel/
.nitro/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
turbo-debug.log*

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.swp
