@import "tailwindcss";

/* @import 'tailwindcss/animate';

@plugin 'tailwindcss-animate'; */

@layer base {
  :root {
    --background: #050022;

    --text: #e8ebf8;
    --primary: #364eb0;

    --secondary: #db8ada;
    --accent: #d16698;

    --gradient-start: #3b82f6;
    --gradient-end: #a855f7;

    --linearPrimarySecondary: linear-gradient(#4356b1, #4a2664);
    --linearPrimaryAccent: linear-gradient(#4356b1, #8a3790);
    --linearSecondaryAccent: linear-gradient(#4a2664, #8a3790);
    --radialPrimarySecondary: radial-gradient(#4356b1, #4a2664);
    --radialPrimaryAccent: radial-gradient(#4356b1, #8a3790);
    --radialSecondaryAccent: radial-gradient(#4a2664, #8a3790);
  }

  .light {
    --text: #070a17;
    --background: #e1dbff;
    --primary: #4f68c9;
    --secondary: #752474;
    --accent: #992e60;
    --gradiant: linear-gradient(
      to right,
      var(--primary),
      var(--secondary),
      var(--accent)
    );

    --gradient-start: #4f46e5; /* Light theme start color */
    --gradient-end: #9333ea;
    --linearPrimarySecondary: linear-gradient(#4e60bc, #bf9bd9);
    --linearPrimaryAccent: linear-gradient(#4e60bc, #c26fc8);
    --linearSecondaryAccent: linear-gradient(#bf9bd9, #c26fc8);
    --radialPrimarySecondary: radial-gradient(#4e60bc, #bf9bd9);
    --radialPrimaryAccent: radial-gradient(#4e60bc, #c26fc8);
    --radialSecondaryAccent: radial-gradient(#bf9bd9, #c26fc8);
  }
}

:root {
  --font-oxanium: "poppins", sans-serif;
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-oxanium);
  position: relative;
}



/* waving hand */
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}



.phoneFrame {
  width: 250px;
  height: 450px;
  /* border-radius: 30px; */
  overflow: hidden;
  /* box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 5px solid #000; */
  position: relative;
  overflow: hidden;
}

/* Responsive scaling for larger screens */
@media (min-width: 640px) {
  .phoneFrame {
    width: 300px;
    height: 533px;
  }
}

@media (min-width: 1024px) {
  .phoneFrame {
    width: 350px;
    height: 622px;
  }
}


img {
  object-fit: cover;
}


button {
  cursor: pointer;
}